:root {
   --body-color: #1e2022;
   --light-body-color: #696969;
   --backdrop-blur: blur(16px);
   --backdrop-opacity: 0.6;
   --backdrop-shadow: 20px 0 25px -5px #0000001a, 8px 0 10px -6px #0000001a;
   --header-margin: 32px;
   --page-width: 1600px;
   --gradient-horizontal: linear-gradient(90deg, #FCA4CE -2.05%, #FBCABC 18.15%, #E8F4C7 36.75%, #B9F0DD 55.89%, #89C6F3 76.08%, #B698F4 97.87%);
   --horizontal-gradient: linear-gradient(180deg, #FCA4CE 0%, #FBCABC 19.79%, #E8F4C7 38.02%, #B9F0DD 56.77%, #89C6F3 76.56%, #B698F4 97.92%);
}

html {
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
   font-family: var(--body-font);
   background: #fff;
   color: var(--body-color, #1e2022);
   cursor: auto;
   font-size: 1em;
   font-style: normal;
   font-weight: 300;
   line-height: 1.5;
   margin: 0;
   overflow-wrap: break-word;
   padding: 0;
   word-wrap: break-word;
   overflow-x: hidden;
}

button {
   border: 1px solid transparent;
   font-family: var(--body-font);
   transition: all 140ms ease-in-out;
}

button:hover {
   border: 1px solid var(--primary-color);
   background-color: transparent;
   color: var(--primary-color, #000);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--header-font, 'Roboto Condensed, Cormorant Garamond, serif');
}

.hxl {
   line-height: .98;
   font-size: 4rem;
   font-size: clamp(2rem, .071rem + 9.643vw, 8.75rem);
   font-weight: 700;
}

h1 {
   line-height: .98;
   font-size: 3rem;
   font-size: clamp(2rem, .071rem + 6.643vw, 7.25rem);
}

h2 {
   font-weight: 800;
   font-size: 2.5rem;
   font-size: clamp(2.5rem, 1.815rem + 3.226vw, 3.75rem);
   line-height: 1.1666;
}

article h3 {
   font-family: var(--body-font);
   font-size: 20px;
}

.article-featured h3 {
   font-size: 32px;
   margin-bottom: 12px;
}

.main--title {
   margin-top: 0;
   color: #FFF;
   letter-spacing: 0.08em;
   line-height: 100%;
   text-shadow: 0 0 20px rgb(252 166 206 / 50%);
}

a {
   display: inline-block;
   color: #2776df;
   text-decoration: none;
   background: 0 0;
}

a:active,
a:hover {
   outline: 0
}

a:hover,
a:visited {
   color: #124485;
}

img {
   vertical-align: middle;
}

section {
   position: relative;
}

.uppercase {
   text-transform: uppercase;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   overflow: hidden;
}

.elem-hidden {
   display: none;
}

.page-width {
   max-width: var(--page-width);
   margin-left: auto;
   margin-right: auto;
   width: 88%;
}

.container {
   position: relative;
}

.col--50 {
   flex: 0 0 50%;
}

header {
   --logo-color: #FFF;
   position: fixed;
   top: 0;
   display: flex;
   box-sizing: border-box;
   background-color: rgb(0 0 0 / 40%);
   box-sizing: border-box;
   color: #fff;
   flex-direction: column;
   text-align: center;
   width: 100%;
   z-index: 9999;
}

.admin-bar header {
   top: 32px;
}

#header-wrap {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   min-height: 64px;
}

header.dark {
   background-color: transparent;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9000;
}

.no-js header {
   --logo-color: #333;
   background-color: #FFF;
}

header .logo {
   color: var(--logo-color);
   margin-left: var(--header-margin);
}

header .main-nav {
   margin-right: var(--header-margin);
}

header .main-nav,
header .menu {
   height: 100%;
}

.header-col,
.header-col .menu li {
   display: flex;
   flex-direction: row;
   align-items: center;
}

header #logo-col a {
   display: flex;
}

header #menu-col {
   flex: 1 0;
   margin-left: 50px;
}

header a {
   color: #FFF;
   text-decoration: none;
}

#quickbar {
   display: flex;
   flex: 0 0 100%;
}

.shape--floppydisk-wrap {
   -webkit-clip-path: polygon(90% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
   clip-path: polygon(90% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
   overflow: hidden;
   background-color: #fff;
   padding: 2px;
}

.shape--floppydisk {
   --minus: 10%;
   --angle: 15%;
   -webkit-clip-path: polygon(calc(100% - var(--minus)) 0, 100% var(--angle), 100% 100%, 0 100%, 0 0);
   clip-path: polygon(calc(100% - var(--minus)) 0, 100% var(--angle), 100% 100%, 0 100%, 0 0);
}

.rainbow-outer {
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   font-size: 15px;
   text-transform: uppercase;
   line-height: 1rem;
   letter-spacing: 1px;
   position: relative;
   z-index: 1;
}

.rainbow-text::before {
   --clip-path-1: polygon(calc(100% - 12px) 0, 100% 12px, 100% 100%, 0 100%, 0 0);

   content: "";
   -webkit-clip-path: var(--clip-path-1);
   clip-path: var(--clip-path-1);
   background: rgb(0 0 0 / 40%);
   width: calc(100% - 4px);
   height: 100%;
   top: 0;
   left: 2px;
   transition: all .3s ease-out 0s;
   z-index: -1;
}

.rainbow-text {
   --clip-path-2: polygon(calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%, 0 0);
   -webkit-clip-path: var(--clip-path-2);
   clip-path: var(--clip-path-2);
   left: 0;
   top: 0;
   height: calc(100% + 4px);
   letter-spacing: inherit;
   background: unset;
   padding: 10px 26px;
   background: linear-gradient(90deg, #fca4ce, #fbcabc, #e8f4c7, #b9f0dd, #89c6f3, #b698f4);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-weight: 700;
}

.rainbow-inner {
   --clip-path-3: polygon(0 0, calc(100% - 13px) 0, 100% 13px, 100% 100%, 0 100%, 0 2px, 2px 2px, 2px calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 15px, calc(100% - 15px) 2px, 0 2px);
   position: absolute;
   background-image: var(--gradient-horizontal);
   display: flex;
   align-items: center;
   justify-content: center;
   -webkit-clip-path: var(--clip-path-3);
   clip-path: var(--clip-path-3);
   width: 100%;
   height: calc(100% + 4px);
}


ul.no-style {
   list-style: none;
}

/* Navigation items */
.main-nav ul {
   display: flex;
   flex-direction: column;
   list-style: none;
   margin: 0;
   padding: 0;
}

.main-nav .menu-item {
   position: relative;
   padding: 8px 0;
}

.main-nav .menu-item a {
   padding: 0 12px;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 0.06rem;
}

.main-nav>ul>li>a {
   color: #fff;
}

.main-nav ul.sub-menu {
   width: 200px;
   position: absolute;
   background-color: #FFF;
   box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
   border-radius: 8px;
   top: 100%;
   flex-direction: column;
}

.main-nav ul.sub-menu a {
   color: var(--body-color);
}

.main-nav ul.sub-menu a:hover {
   color: var(--primary-color);
}

.burg-menu {
   --menu-width: 30px;
   position: relative;
   width: var(--menu-width, 22px);
   display: inline-block;
   cursor: pointer;
   height: auto;
   margin: 0;
   padding: 0;
   color: inherit;
   background: 0 0;
   border: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   outline: 0 !important;
}

.burg-menu::before {
   content: "";
   position: absolute;
   top: -10px;
   left: -10px;
   right: -10px;
   bottom: -10px;
}

.line {
   position: relative;
   display: block;
   width: var(--menu-width, 22px);
   height: 2px;
   margin: 4px 0;
   top: 0;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   background: currentColor;
   -webkit-transition: top ease-out .15s .15s, -webkit-transform ease-out .15s 0s;
   transition: top ease-out .15s .15s, -webkit-transform ease-out .15s 0s;
   -o-transition: top ease-out .15s .15s, -o-transform ease-out .15s 0s;
   -moz-transition: top ease-out .15s .15s, transform ease-out .15s 0s, -moz-transform ease-out .15s 0s;
   transition: top ease-out .15s .15s, transform ease-out .15s 0s;
   transition: top ease-out .15s .15s, transform ease-out .15s 0s, -webkit-transform ease-out .15s 0s, -moz-transform ease-out .15s 0s, -o-transform ease-out .15s 0s;
}

.line.top {
   margin: 0 0 5px;
}

.line.middle {
   -webkit-transition: opacity 0s .12s;
   -o-transition: opacity 0s .12s;
   -moz-transition: opacity 0s .12s;
   transition: opacity 0s .12s;
}

.line.bottom {
   margin: 5px 0 0;
}

.open .line {
   -webkit-transition: top ease-out .15s, -webkit-transform ease-out .15s .15s;
   transition: top ease-out .15s, -webkit-transform ease-out .15s .15s;
   -o-transition: top ease-out .15s, -o-transform ease-out .15s .15s;
   -moz-transition: top ease-out .15s, transform ease-out .15s .15s, -moz-transform ease-out .15s .15s;
   transition: top ease-out .15s, transform ease-out .15s .15s;
   transition: top ease-out .15s, transform ease-out .15s .15s, -webkit-transform ease-out .15s .15s, -moz-transform ease-out .15s .15s, -o-transform ease-out .15s .15s;
   left: -1px;
}

.open .line.top {
   top: 9px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}

.open .line.middle {
   transform: scaleY(0);
   opacity: 0;
}


.open .line.bottom {
   top: -5px;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.underlay {
   box-shadow: 20px 0 25px -5px #0000001a, 8px 0 10px -6px #0000001a;
   background-color: rgb(119 141 212 / 60%);
   max-width: 480px;
   -webkit-backdrop-filter: var(--backdrop-blur);
   backdrop-filter: var(--backdrop-blur);
   position: absolute;
   z-index: 10;
   height: 100%;
   width: 100%;
}

.fx--center {
   display: flex;
   align-items: center;
}

.shape-shine {
   background: linear-gradient(180deg, #34393b, #32323300);
   height: 100%;
   left: 30rem;
   top: 0;
   transform: skew(-38deg);
   width: 400px;
}

.overlay--404 {
   padding-top: 6rem;
   padding-bottom: 2.5rem;
   padding-left: 2rem;
   position: relative;
   z-index: 20;
   width: 100%;
   padding: 6rem 2.75rem;
}

@media (min-width: 768px) {
   .burg-menu {
      display: none;
   }


   #header-wrap,
   .main-nav ul {
      flex-direction: row;
   }

}

/* Tablet Viewport */
@media (min-width: 768px) and (max-width: 991px) {
   .main-nav {
      margin-left: auto;
   }
}


.description {
   color: var(--light-body-color);
}

/* Hero Section */
.hero__section {
   position: relative;
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
}

.hero__section img.bg {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.hero__section::after {
   content: "";
   position: absolute;
   top: 0;
   background: #000;
   opacity: var(--background-tint, 0);
   z-index: 1;
   width: 100%;
   height: 100%;
}

.hero__content {
   position: relative;
   width: 100%;
   display: flex;
   z-index: 2;
   padding: 5rem 0;
   min-height: 500px;
}

.hero__title {
   margin-top: 0;
   margin-bottom: 0;
}

.content--center-center {
   align-items: center;
   justify-content: center;
   text-align: center;
}

.content--center-bottom {
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}

.page__section {
   margin: 0 auto;
   width: calc(100% - 24px * 2);
   padding: 80px 0;
   max-width: 100%;
}

@media (min-width: 600px) {
   .page__section.hero {
      max-width: 100vw;
      width: calc(100% - 60px * 2)
   }

   .page__section.med--width {
      max-width: var(--content-sm-width, 530px);
   }
}

@media (min-width: 1440px) {
   .page__section.hero {
      max-width: var(--content-max-width, 1400px);
   }

   .page-width.med--width {
      max-width: var(--content-med-width, 860px);
   }
}

.article-short h3 {
   margin-top: 0;
   margin-bottom: 0;
   display: block;
   max-width: 60%;
}

article.post,
.article-title a {
   color: #FFF;
}

article.post .arrow-wrap {
   align-content: center;
}

.news-container {
   display: flex;
   gap: var(--section-gap);
}

article.post {
   display: flex;
   flex-wrap: wrap;
   column-gap: 14px;
}

article.post .article-thumbnail-wrap,
article.post img {
   width: 100%;
}

article.post img {
   height: auto;
   object-fit: cover;
}

article .post-meta {
   flex: 1 0 100%;
   display: flex;
   gap: 6px;
}

.category--main {
   margin: 1rem 0;
}

article .post-meta {
   text-transform: uppercase;
   font-family: var(--header-font);
   font-size: 15px;
   font-weight: 700;
   margin-bottom: 4px;
}

.article-featured {
   flex-direction: column;
}

.article-featured .excerpt {
   position: relative;
   padding-left: 1.5em;
   /* leave room for the line */
}

.article-featured .excerpt::before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   width: 4px;
   left: 0;
   background: var(--horizontal-gradient);
}

.article-thumbnail-wrap {
   flex: 0 0 134px;
}

.post--horizontal .article-content-wrap {
   flex: 1;
}

#news-events {
   --section-gap: 128px;
   --gap: 40px;
   box-sizing: border-box;
   background-image: url("../images/background.jpg");
   background-size: cover;
   background-position: center center;
   padding: 10rem 0;
}

#news-events .col--left {
   /* width: calc(var(--page-width) / 2 ); */
   width: 100%;
   padding-left: calc(50% - var(--page-width) / 2);
}

#news-events .col--right {
   width: 100%;
}

#news-events article+article {
   margin-top: var(--gap);
}

.float-article-wrap {
   padding: var(--gap);
   background: rgb(0 0 0 / 40%);
   border-bottom: 1px solid #FFF;
   border-left: 1px solid #FFF;
   border-top: 1px solid #FFF;
}

.post-meta a {
   color: inherit;
}

.post-meta {
   color: #7A7A7A;
}

.article-featured .post-meta {
   color: #FFF;
}

.sm-list {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}

.social-media-strip {
   padding: 0;
}

.section__mast .sm-list {
   align-self: flex-end;
   background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 50.19%, rgba(0, 0, 0, 0) 100%);
   /* background: rgb(0 0 0 / 40%); */
   padding: 2rem;
   margin: 0 auto;
   width: 100%;
   justify-content: center;
   gap: 30px;
}

.sm {
   position: relative;
   display: flex;
   align-items: center;
}

.sm svg {
   color: #FFF;
   width: 32px;
   height: auto;
   vertical-align: middle;
}

.sm-list .sm+.sm::before {
   content: "";
   display: inline-block;
   align-self: center;
   width: 1px;
   height: 24px;
   background-color: #4f4f4f;
   margin-right: 30px;
}

.home .section__mast .hero__content {
   min-height: 850px;
}

.news-container .floating-blocks-vertical {
   display: flex;
   flex-direction: column;
   gap: 4px;
   position: absolute;
   right: -4rem;
   top: 5%;
}

.news-container .floating-blocks-vertical svg:nth-of-type(2) {
   margin-top: 34px;
}

.news-container .floating-blocks-vertical svg:nth-of-type(3) {
   margin-top: 8px;
}

#schedule {
   color: #FFF;
   background: #222;
   border-top: 1px solid #838586;
   border-bottom: 1px solid #838586;
   padding: 10rem 0;
}

#schedule::before {
   content: '';
   display: block;
   position: absolute;
   top: -2px;
   left: 0;
   width: 45vw;
   height: 5px;
   background: var(--gradient-horizontal);
}

#schedule h2 {
   position: absolute;
   right: 4rem;
   transform: translateY(-50%);
   top: 0;
}

/* Stream */
.streamers-wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 40px;
}

@media screen and (min-width: 768px) {
   .streamers-wrapper {
      flex-direction: row;
      flex-wrap: nowrap;
   }

   .streamers-wrapper .featured-thumbnail {
      aspect-ratio: 16 / 9;
      display: flex;
   }

   .streamers-wrapper .side-thumbnails {
      display: grid;
      gap: 30px;
   }

   .stream-ct--3 .featured-thumbnail {
      flex: 1 1 60%;
   }
   .stream-ct--3 .side-thumbnails {
      flex: 1 1 35%;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
   }

   .stream-ct--5 .featured-thumbnail {
      flex: 1 1 50%;
   }
   .stream-ct--5 .side-thumbnails {
      flex: 1 1 50%;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
   }

/*    .streamers-wrapper {
      flex-direction: row;
      flex-wrap: nowrap;
   }

   .streamers-wrapper .featured-thumbnail {
      flex: 1 1 60%;
      aspect-ratio: 16 / 9;
      display: flex;
   }

   .streamers-wrapper .side-thumbnails {
      flex: 1 1 35%;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 50px;
   } */
}

/* .streamers-wrapper {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   row-gap: 1rem;
   column-gap: 1.5rem;
}

.streamers-wrapper div:nth-of-type(1) {
   grid-column: 1 / span 2;
   grid-row: span 2;
}

.streamers-wrapper div:nth-child(3n-1),
.streamers-wrapper div:nth-child(3n) {
   grid-column-start: 3;
} */

.stream-wrapper {
   position: relative;
   aspect-ratio: 16/9;
   border: 2px solid #FFF;
   box-sizing: border-box;
   color: #FFF;
   flex: 1;
   overflow: hidden;
}

.stream-wrapper:hover img {
   transform: scale(1.1);
}

.stream-wrapper a {
   color: inherit;
}

.stream-wrapper img {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 200ms ease-in;
}

.stream-wrapper .stream-details {
   position: relative;
   display: flex;
   box-sizing: border-box;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   padding: 1rem;
   z-index: 1;
}

.stream-details .viewers {
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: 18px;
   align-self: end;
}

.stream-wrapper h3 {
   font-size: 24px;
   text-shadow: 1px 1px 3px #000000;
   font-family: var(--body-font);
   margin: 0;
}

.talent-wrapper {
   display: flex;
}